/* System.css */

.container {
    max-width: 600px;
    margin: auto;
    
}
.swal2-backdrop-custom {
    background-color: rgb(238, 243, 247);

    /* background-image: 
        url("https://qph.cf2.quoracdn.net/main-qimg-a45c4cdfffa46f83454ad0152dbbac93"),
        url("https://qph.cf2.quoracdn.net/main-qimg-a45c4cdfffa46f83454ad0152dbbac93");
    background-size: 130px; 
    background-repeat: no-repeat, no-repeat;
    background-position: top left, top right; */
}

.swal2-reward-custom{
    background-color: rgb(238, 243, 247);
}
h1 {
    font-size: 2.5rem;
    color: #333;
}

.btn {
    min-width: 100px;
}

input {
    min-width: 200px;
}

button[type="submit"] {
    width: 100%;
}
